@model RegistrationIndexModel

<h1 class="h2 mb-1">
    Account Registration
</h1>
<p class="font-small text-muted">
    Access to user specific areas require an approved registration. 
    Please submit the following information for approval to gain access to user
    specific areas.
</p>

@using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { id = "form", suppressSubmit = "false", showWarning = "false" }))
{
    <div class="card shadow-sm pl-0">
        <div class="card-body rounded-top bg-white">
            <div class="form-group row m-0 p-0">
                <div class="col-sm-1 col-md-1 p-1">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="col-sm-11 col-md-11">
                    @Html.EditorFor(model => model.Email, new { HtmlAttributes = new { @class = "form-control form-control-sm m-0", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger font-x-small" })
                </div>
            </div>
            <div class="form-group row m-0 p-0">
                <div class="col-sm-1 col-md-1 p-1">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="col-sm-5 col-md-5">
                    @Html.EditorFor(model => model.FirstName, new { HtmlAttributes = new { @class = "form-control form-control-sm m-0" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger font-x-small" })
                </div>
                <div class="col-sm-1 col-md-1 p-1">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="col-sm-5 col-md-5">
                    @Html.EditorFor(model => model.LastName, new { HtmlAttributes = new { @class = "form-control form-control-sm m-0" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger font-x-small" })
                </div>
            </div>
        </div>
        <div class="card-footer rounded-bottom bg-white border-top-0 m-0 p-0">
            <button class="btn btn-dark text-light border shadow-sm text-decoration-none m-3 mr-4 p-1 px-2 float-right g-recaptcha"
                    data-sitekey="@ViewBag.reCAPTCHA_SiteKey"
                    data-callback='onCaptchaSubmit'
                    data-action='submit'>
                <i class="fas fa-inbox text-grey" aria-hidden="true"></i>
                Submit
            </button>
        </div>
    </div>       

}

@section scripts {

}