@model CDCavell.ClassLibrary.Web.Utilities.Models.BingWebSearchModels.ResultModel

@using Newtonsoft.Json

<script type="text/javascript" nonce="@ViewBag.ScriptNonce">

    console.info('-- Loading Script: _SearchTabPaneScript.cshtml [@Model.Type]');

    var @(Model.Type)_Items = @(Html.Raw(JsonConvert.SerializeObject(Model.Items)));
    console.info(@(Model.Type)_Items.length + ' record(s) loaded to @(Model.Type)_Items');


    jQuery.fn.extend({
        @(Model.Type)_InnerHtml: function () {
            console.info('@(Model.Type)_InnerHtml function called');
            var lowOffset = ((parseInt($('#@(Model.Type)_PageNumber').val()) * parseInt($('#@(Model.Type)_DisplayCount').val())) - parseInt($('#@(Model.Type)_DisplayCount').val()));
            console.debug('lowOffset: ' + lowOffset);
            var highOffset = (lowOffset + parseInt($('#@(Model.Type)_DisplayCount').val()));
            console.debug('highOffset: ' + highOffset);
            console.debug('@(Model.Type)_Items.length: ' + @(Model.Type)_Items.length);
            if (highOffset > parseInt(@(Model.Type)_Items.length)) {
                highOffset = highOffset - ((highOffset - parseInt(@(Model.Type)_Items.length)) + 1);
            }
            console.debug('highOffset: ' + highOffset);
            var innerHtml = '';
            innerHtml += '<div class="container">';
            for (var i = lowOffset; i < highOffset; i++) {

                var item = @(Model.Type)_Items[i];
                console.debug(item);

                var snippet = item.Snippet;
                if (snippet === null) {
                    snippet = '';
                }

                var description = item.Description;
                if (description === null) {
                    description = '';
                }

                if ('@(Model.Type)' === 'Web') {
                    innerHtml += '<div class="row m-0 p-0 mb-1"><div class="col"><h5>';
                    innerHtml += '<a class="text-decoration-none" href="' + item.Url + '" rel="external nofollow noopener" target="_blank">';
                    innerHtml += item.Name;
                    innerHtml += '</a></h5>';
                    innerHtml += '<small class="text-muted">[Last Crawled: ' + item.DateLastCrawledFormated + ']</small>';
                    innerHtml += '<p>' + snippet + '</p></div></div>';
                } else {
                    innerHtml += '<div class="row m-0 p-0 mb-1"><div class="col-2 m-0 p-0">';
                    innerHtml += '<a href="' + item.ContentUrl + '" class="d-block mb-4 h-100" rel="external nofollow noopener" target="_blank">';
                    innerHtml += '<img class="img-fluid img-thumbnail" src="' + item.ThumbnailUrl + '" width="300" alt="" />';
                    innerHtml += '</a></div><div class="col"><h5>';
                    innerHtml += '<a class="text-decoration-none" href="' + item.HostPageUrl + '" rel="external nofollow noopener" target="_blank">';
                    innerHtml += item.Name;
                    innerHtml += '</a></h5>';
                    innerHtml += '<small class="text-muted">[Published: ' + item.DatePublishedFormated + ']</small>';
                    innerHtml += '<p>' + description + '</p></div></div>';
                }
            }
            innerHtml += '</div>';
            $('#@(Model.Type)_ItemsDiv').html(innerHtml);
        }
    });

    $(function () {
        window.pagObj = $('#@(Model.Type)_Pagination').twbsPagination({
            totalPages: @Model.TotalPages,
            visiblePages: @Model.DisplayCount,
            onPageClick: function (event, page) {
                console.info('#@(Model.Type)_Pagination clicked');
                console.debug(page + ' (from options)');
                $('#@(Model.Type)_PageNumber').val(page);
                $('#@(Model.Type)_ItemsDiv').@(Model.Type)_InnerHtml();
                $('#@(Model.Type)_ItemsDiv').show();
            }
        }).on('page', function (event, page) {
            console.debug(page + ' (from event listening)');
        });
    });

    $(function () {
        $('#@(Model.Type)_ItemsDiv').@(Model.Type)_InnerHtml();
    });

</script>