@model CDCavell.ClassLibrary.Web.Utilities.Models.BingWebSearchModels.ResultModel

@using System.Net

@if (Model.StatusCode != System.Net.HttpStatusCode.OK)
{
    <div class="shadow alert @(Model.StatusCode == HttpStatusCode.NotFound ? "alert-warning" : "alert-danger") mb-1" role="alert">
       <p class="m-0">@Model.Type Search Result@(Model.StatusCode == HttpStatusCode.NotFound ? string.Empty : " Error"): @Model.StatusCode</p>
    </div>
}
else
{
    @Html.Hidden(Model.Type + "_PageNumber", Model.PageNumber, new { id = Model.Type + "_PageNumber" });
    @Html.Hidden(Model.Type + "_DisplayCount", Model.DisplayCount, new { id = Model.Type + "_DisplayCount" });
    <div class="card border-0">
        <p class="card-text text-muted m-2 p-2">@Model.Type Search Results Returned: @Model.Items.Count</p>
        <div class="container">
            <div class="row text-left text-lg-left" id="@(Model.Type)_ItemsDiv">
            @* for loop populates here *@
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div id="@(Model.Type)_Pager" class="w-auto m-0 p-0 bg-white">
                <ul id="@(Model.Type)_Pagination" class="pagination-sm shadow"></ul>
            </div>
        </div>
    </div>
    <br />
}

