@model cdcavell.Models.Home.Search.SearchModel

@using System.Net

<h1 class="h2"></h1>

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "form", suppressSubmit = "false", showWarning = "false" }))
{
    @Html.HiddenFor(Model => Model.StatusCode);
    <div class="input-group md-form form-sm form-2 shadow-sm pl-0">
        <input class="form-control border-grey my-0 py-1" type="text" placeholder="Search" aria-label="Search" asp-for="SearchRequest" autofocus>
        <div class="input-group-append">
            <span class="input-group-text lighten-3 border-grey p-0 px-1" id="basic-text1">
                <button class="btn btn-link m-0 p-0 g-recaptcha"
                        data-sitekey="@ViewBag.reCAPTCHA_SiteKey"
                        data-callback='onCaptchaSubmit'
                        data-action='submit'>
                   <i class="fas fa-search text-grey" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
    <small class="text-muted font-x-small ml-2">
        <a class="text-decoration-none mr-2" href="https://www.bing.com/" rel="external nofollow noopener" target="_blank">
            <img class="img-fluid bing-logo-xx-small" src="_content/CDCavell.ClassLibrary.Web.Razor/img/bing-logo-black-transparent.png" alt="Bing Logo">
        </a>|
        <a class="text-decoration-none ml-2 mr-2" href="https://privacy.microsoft.com/en-us/privacystatement" rel="external nofollow noopener" target="_blank">Microsoft Privacy Statement</a>|
        <a class="text-decoration-none ml-2 mr-2" href="https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/use-display-requirements" rel="external nofollow noopener" target="_blank">Bing Search API use and display requirements</a>|
        <a class="text-decoration-none ml-2" href="https://advertiseonbing.blob.core.windows.net/blob/bingads/media/library/docs/bing-marketing-guidelines.pdf">Bing Marketing Guidelines</a>
    </small>
    <br />
    <br />

    @if (Model.StatusCode == HttpStatusCode.OK)
    {
        @Html.HiddenFor(Model => Model.WebActive);
        @Html.HiddenFor(Model => Model.ImageActive);
        @Html.HiddenFor(Model => Model.VideoActive);

        @Html.HiddenFor(Model => Model.ImageDisabled);
        @Html.HiddenFor(Model => Model.VideoDisabled);

        <ul class="nav nav-tabs border-0" id="ResultsTab" role="tablist">
            <li class="nav-item rounded-top border border-bottom-0">
                <a class="nav-link text-decoration-none @Model.WebActive @Model.WebDisabled" id="web-tab" data-toggle="tab" href="#web-panel" role="tab" aria-controls="web-panel" aria-selected='@Model.WebActive == "active" ? "true" : "false"'>Web Results</a>
            </li>
            <li class="nav-item rounded-top border border-bottom-0">
                <a class="nav-link text-decoration-none @Model.ImageActive @Model.ImageDisabled" id="image-tab" data-toggle="tab" href="#image-panel" role="tab" aria-controls="image-panel" aria-selected='@Model.ImageActive == "active" ? "true" : "false"'>Image Results</a>
            </li>
            <li class="nav-item rounded-top border border-bottom-0">
                <a class="nav-link text-decoration-none @Model.VideoActive @Model.VideoDisabled" id="video-tab" data-toggle="tab" href="#video-panel" role="tab" aria-controls="video-panel" aria-selected='@Model.VideoActive == "active" ? "true" : "false"'>Video Results</a>
            </li>
        </ul>
        <div class="tab-content border border-top-0 shadow-sm" id="resultsTabContent">
            <div class="tab-pane fade @(Model.WebActive == "active" ? "show" : string.Empty) @Model.WebActive bg-white" id="web-panel" role="tabpanel" aria-labelledby="web-tab">
                <partial name="_SearchTabPane" model="@Model.WebResult" />
            </div>
            <div class="tab-pane fade @(Model.ImageActive == "active" ? "show" : string.Empty) @Model.ImageActive bg-white" id="image-panel" role="tabpanel" aria-labelledby="image-tab">
                <partial name="_SearchTabPane" model="@Model.ImageResult" />
            </div>
            <div class="tab-pane fade @(Model.VideoActive == "active" ? "show" : string.Empty) @Model.VideoActive bg-white" id="video-panel" role="tabpanel" aria-labelledby="video-tab">
                <partial name="_SearchTabPane" model="@Model.VideoResult" />
            </div>
        </div>
    }

    @if (Model.StatusCode != HttpStatusCode.OK && Model.StatusCode != HttpStatusCode.NoContent)
    {
        <div class="alert @(Model.StatusCode == HttpStatusCode.NotFound ? "alert-warning" : "alert-danger") shadow">
            <p class="m-0">Search Result@(Model.StatusCode == HttpStatusCode.NotFound ? string.Empty : " Error"): @Model.StatusCode</p>
            <code class="m-0">
                <small class="@(Model.WebResult.StatusCode == HttpStatusCode.NotFound ? "text-warning" : "text-danger")">&nbsp;&nbsp;&nbsp;&nbsp;Web Search Result&nbsp;&nbsp;: @Model.WebResult.StatusMessage</small><br />
                <small class="@(Model.ImageResult.StatusCode == HttpStatusCode.NotFound ? "text-warning" : "text-danger")">&nbsp;&nbsp;&nbsp;&nbsp;Image Search Result: @Model.ImageResult.StatusMessage</small><br />
                <small class="@(Model.VideoResult.StatusCode == HttpStatusCode.NotFound ? "text-warning" : "text-danger")">&nbsp;&nbsp;&nbsp;&nbsp;Video Search Result: @Model.VideoResult.StatusMessage</small>
            </code>
        </div>
    }
}

@section scripts {
<script type="text/javascript" nonce="@ViewBag.ScriptNonce">

    console.log('-- Loading Script: Search.cshtml');

    $('#ResultsTab li').click(function () {
        console.info('-- Tab Click: ' + $(this).text().trim());
        switch ($(this).text().trim()) {
            case 'Web Results':
                if (!$('a', this).hasClass('disabled')) {
                    $('#WebActive').val('active');
                    $('#Web_ItemsDiv').Web_InnerHtml();
                }
                break;
            case 'Image Results':
                if (!$('a', this).hasClass('disabled')) {
                    $('#ImageActive').val('active');
                    $('#Image_ItemsDiv').Image_InnerHtml();
                }
                break;
            case 'Video Results':
                if (!$('a', this).hasClass('disabled')) {
                    $('#VideoActive').val('active');
                    $('#Video_ItemsDiv').Video_InnerHtml();
                }
                break;
        }
    });

    $('#form').on('submit', function (e) {
        console.debug('set status code: @HttpStatusCode.NoContent');
        $('#StatusCode').val('@HttpStatusCode.NoContent');
    });

</script>
<partial name="_SearchTabPaneScript" model="@Model.WebResult" />
<partial name="_SearchTabPaneScript" model="@Model.ImageResult" />
<partial name="_SearchTabPaneScript" model="@Model.VideoResult" />

}

