@using CDCavell.ClassLibrary.Web.Mvc.Models.AppSettings
@using CDCavell.ClassLibrary.Web.Services.AppSettings
@using System.IO
@using System.Reflection
@inject IAppSettingsService AppSettings

@{ 
}

<footer class="fixed-bottom border-top text-muted footer">
    <div class="row m-0 p-0">
        <div class="col d-flex m-0 ml-2 p-0">
            &copy; @DateTime.Now.Year - Christopher D. Cavell |
            Version: @AppSettings.AssemblyVersion() |
            Last Modified: @AppSettings.LastModifiedDate()
        </div>
        <div class="col d-flex justify-content-center m-0 p-0">
            @*
            Hosted By: &nbsp;
            <a class="btn-link text-decoration-none m-0 p-0" href="https://azure.microsoft.com/en-us/" rel="external nofollow noopener" target="_blank">
                <img class="azure-logo-foot m-0 p-0" src="_content/CDCavell.ClassLibrary.Web.Razor/img/Microsoft-Azure-Logo-Small.png" alt="Microsoft Azure Logo" />
            </a>
            *@
        </div>
        <div class="col d-flex justify-content-end btn-group m-0 mr-2 p-0">
            <a class="btn-link text-decoration-none m-0 mr-2 p-0" href="@AppSettings.MainUrl()/Home/WithdrawConsent">
                Withdraw Cookie Consent
            </a><span class="mr-2"> | </span>
            <a class="btn-link text-decoration-none m-0 mr-2 p-0" href="@AppSettings.MainUrl()/Home/PrivacyPolicy">
                Privacy Policy
            </a> |
            <a class="btn-link text-decoration-none m-0 mx-2 p-0" href="@AppSettings.MainUrl()/Home/TermsOfService">
                Terms of Service
            </a> |
            <a class="btn-link text-decoration-none m-0 mx-2 p-0" href="https://blog.cdcavell.name" rel="external nofollow noopener" target="_blank">
                Blog
            </a> |
            <a class="btn-link text-decoration-none m-0 ml-2 p-0" href="https://github.com/cdcavell/cdcavell.name" rel="external nofollow noopener" target="_blank">
                Code Source
            </a> 
        </div>
    </div>
</footer>

