@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <meta name="author" content="Christopher D. Cavell">

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="cdcavell.name" />
    <meta property="og:title" content="Personal website for Christopher D. Cavell." />
    <meta property="og:description" content="An ongoing development of an ASP.NET Core 5.0 MVC application utilizing Duende IdentityServer for authentication." />
    <meta property="og:image" content="https://cdcavell.name/img/thumbnail.png" />
    <meta property="og:url" content="https://cdcavell.name/">
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="912870229223717" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@@CDCavell" />
    <meta property="twitter:creator" content="@@CDCavell" />
    <meta property="twitter:title" content="Personal website for Christopher D. Cavell" />
    <meta property="twitter:description" content="An ongoing development of an ASP.NET Core 5.0 MVC application utilizing Duende IdentityServer for authentication." />
    <meta property="twitter:image" content="https://cdcavell.name/img/twitter-thumbnail.png" />

    <meta name="description" content="Personal website for Christopher D. Cavell. An ongoing development of an ASP.NET Core 5.0 MVC application utilizing Duende IdentityServer for authentication.">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google-site-verification" content="v2DPETQobg3Ip1zEugzvNdHM9-oqH5TdPKq2ycrn1w0">

    <title>Personal website for Christopher D. Cavell</title>
    <base href="/" />

    <link rel="icon" type="image/x-icon" href="_content/CDCavell.ClassLibrary.Web.Razor/img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="_content/CDCavell.ClassLibrary.Web.Razor/img/favicon.ico" />

    <link rel="stylesheet" type="text/css" media="screen" href="_content/CDCavell.ClassLibrary.Web.Razor/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/CDCavell.ClassLibrary.Web.Razor/lib/fontawesome-free/css/all.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="_content/CDCavell.ClassLibrary.Web.Razor/css/site.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
@*
    <script type="text/javascript" nonce="@ViewBag.ScriptNonce">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "7f8xgmi2ye");
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41542154-1" nonce="@ViewBag.ScriptNonce"></script>
    <script nonce="@ViewBag.ScriptNonce">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-41542154-1');
    </script>
*@
    <noscript>
        <style nonce="@ViewBag.StyleNonce">
            #processing {
                display: none;
            }
            .page-container {
                display: none;
            }
        </style>
    </noscript>
</head>
<body>

    <div class="page-container">
        <partial name="_Nav" />

        <div class="background-image"></div>
        <div class="background-gradient"></div>
        <div class="container-fluid">
            <div class="body-container mb-5" id="container">
                @RenderBody()
            </div>
        </div>

        <partial name="_Foot" />
    </div>
    <div id="processing" class="modal fade" tabindex="-1" role="dialog" aria-label="processingLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 shadow bg-processing">
                <div class="modal-body p-0">
                    <h3 class="text-center pt-2">Processing, please wait ...</h3>
                </div>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    <noscript>
        <div class="background-image"></div>
        <div class="background-gradient"></div>
        <div class="noscriptmsg" id="noscriptmsg">
            <div class="alert alert-danger" role="alert">
                JavaScript must be enabled in order for you to use cdcavell.name.
                However, it seems JavaScript is either disabled or not supported by your browser.
            </div>
        </div>
    </noscript>

    <script type="text/javascript" src="_content/CDCavell.ClassLibrary.Web.Razor/lib/jquery/jQuery-3.5.1-min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/CDCavell.ClassLibrary.Web.Razor/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/CDCavell.ClassLibrary.Web.Razor/lib/twbs-pagination/jquery.twbsPagination.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="_content/CDCavell.ClassLibrary.Web.Razor/js/site.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>

    <partial name="_CookieConsentPartialScript" />

    @RenderSection("scripts", required: false)

</body>
</html>
