<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">

    <title>Personal website for Christopher D. Cavell</title>

    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome-free/css/all.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <noscript>
        <style nonce="@ViewBag.StyleNonce">
            #processing {
                display: none;
            }
            .page-container {
                display: none;
            }
        </style>
    </noscript>
</head>
<body>
    
    <div class="page-container">
        <partial name="_Nav" />

        <div class="background-image"></div>
        <div class="background-gradient"></div>
        <div class="container-fluid">
            <div class="body-container mb-5" id="container">
                @RenderBody()
            </div>
        </div>

        <partial name="_Foot" />
    </div>
    
    <div id="processing" class="modal fade" tabindex="-1" role="dialog" aria-label="processingLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 shadow bg-processing">
                <div class="modal-body p-0">
                    <h3 class="text-center pt-2">Processing, please wait ...</h3>
                </div>
            </div>
        </div>
    </div>

    <noscript>
        <div class="background-image"></div>
        <div class="background-gradient"></div>
        <div class="noscriptmsg" id="noscriptmsg">
            <div class="alert alert-danger" role="alert">
                JavaScript must be enabled in order for you to use cdcavell.name.
                However, it seems JavaScript is either disabled or not supported by your browser.
            </div>
        </div>
    </noscript>

    <script type="text/javascript" src="~/lib/jquery/jQuery-3.5.1-min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
